=form_for @group,:html=>{:multipart=>true} do |f|
  -if @group.errors.any?
    .div.error
      %h2 При сохранении произошли ошибки
      %ul
        -@group.errors.full_messages.each do |msg|
          %li=msg

  .field
    = f.label :number
    %br
    = f.text_field :number
  .field
    = f.label :course_id
    %br
    =f.select :course_id, Course.all.map{|c| [c.start_date.strftime("%d.%m.%Y"), c.id]}
  .field
    = f.label :year
    %br
    = f.select :year, options_for_select(1970...Time.now.year)
  .field
    = f.label :gtype
    %br
    =f.select :gtype, options_for_select([["ПШ", 0], ["ФДО", 1]], @group.gtype)
  .actions
    = f.submit 'Сохранить'
