<p id="notice"><%= notice %></p>

<p>
  <b>Category:</b>
  <%= @mebel.Category %>
</p>

<p>
  <b>Subject:</b>
  <%= @mebel.Subject %>
</p>

<p>
  <b>Producer:</b>
  <%= @mebel.Producer %>
</p>


<%= link_to 'Edit', edit_mebel_path(@mebel) %> |
<%= link_to 'Back', mebels_path %>
