%h1 Классы

%table
  %thead
    %tr
      %th=SchoolGroup.human_attribute_name('number')
      %th=SchoolGroup.human_attribute_name('year')
      -unless @school_groups.blank?
        %th
        %th
  %tbody
    - @school_groups.each do |sgroup|
      %tr
        %td= link_to sgroup.number, sgroup
        %td= link_to sgroup.year, sgroup
        %td= link_to image_tag("/assets/images/edit.png", :size => "32x32", :title => "Редактировать"), edit_school_group_path(sgroup)
        %td= link_to image_tag("/assets/images/delete.png", :size => "32x32", :title => "Удалить"), sgroup, :confirm => 'Вы уверены?', :method => :delete

=paginate @school_groups
%br
= link_to image_tag("/assets/images/add_class.png", :size => "32x32", :title => "Добавить класс"), new_school_group_path
